.glassButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 6px;
  z-index: 1;
  transition: all 0.3s;
}

.glassButton:not([disabled]) {
  cursor: pointer;
}

.glassButton:is([disabled]) {
  cursor: not-allowed;
}

.glassButtonContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.5px;
  border-radius: 10px;
  transition: all 0.3s;
  z-index: 1;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.glassButton:disabled {
  cursor: default;
}

.glassButton .glassButtonBg {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.glassButton:not([disabled]):hover .glassButtonBg {
  box-shadow: 5px 5px 5px 0px #0000003a;
}

.glassButton:not([disabled]):hover .glassButtonContent {
  background-color: #00000017;
  backdrop-filter: blur(4px);
}

